.review{
  /*max-width: 380px;*/
  /*min-height: 332px;*/
  min-width: 380px;
  max-width: 380px;
  height: 100%;
  /*костыль, вышеобозначенные значения должен задавать
    useEffect в компоненте Carousel, что он успешно
    делает для первого слайдер, но почему то игнорит второй
    возможно из за того что в качестве children выступают
    компоненты ReviewCard
  */
  margin-right: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.review:nth-of-type(3n) {
  margin: 0;
}

.review__owner{
  font-size: 23px;
  font-weight: 600;
  line-height: 35px;
  text-align: left;
  margin: 0 0 11px 0;
}

.review__text{
  max-width: 370px;
  min-height: 225px;
}
